.container-content {
  padding: 7%;
  font-family: sans-serif;
}



.container-body {
  margin-top: 90px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}



a {
  color: #959595;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: black
}



p {
  text-align: center;
  line-height: 22px
}



.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-pop {
  max-width: 100%;
  transition: transform 0.4s;
  padding: 30px;
}

.img-pop:hover {
  transform: scale(1.03);
}

/* Style the navbar */
.navbar {
  width: 100%;
  position: fixed; /* Make the navbar stay at the top of the screen */
  top: 2%;
  left: 0;
  display: flex; /* Use flexbox to evenly space out the links */
  justify-content: space-around; /* Evenly space out the links horizontally */
  align-items: center; /* Vertically center the links */
  z-index: 2; /* Make sure the navbar stays on top of other elements */
}

/* Style the links */
.navbar a {
  text-decoration: none;
}
