body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.container-content {
  font-family: "Press Start 2P", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.earth-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.earth-gif {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.info-and-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.track-info.artist,
.track-info.track {
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: medium;
  text-align: center;
  margin: 28px 0;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.control-button,
.play-button {
  cursor: pointer;
  height: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0; /* Ensure the navbar starts at the left edge */
  right: 0; /* Ensure the navbar extends to the right edge */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  color: white;
  font-size: medium;
  padding: 16px 16px; /* Add horizontal padding of 16px */
}

p {
  text-align: center;
  line-height: 64px;
  font-size: xx-large;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: skyblue;
}

@media (max-width: 375px) {
  .controls {
    gap: 32px;
  }

  .control-button,
  .play-button {
    height: 40px;
  }

  .track-info.artist,
  .track-info.track {
    font-size: small;
    margin: 14px 0;
  }

  p {
    line-height: 48px;
    font-size: large;
  }

  .navbar a {
    font-size: small;
  }
}

@media (max-width: 320px) {
  .controls {
    gap: 24px;
  }

  .control-button,
  .play-button {
    height: 35px;
  }

  .track-info.artist,
  .track-info.track {
    font-size: x-small;
  }

  .navbar a {
    font-size: x-small;
  }
}
