.container-content {
  padding-left: 3%
}

.container-menu {
  float: left;
  margin-right: 10%;
}

.container-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  line-height: 25px
}

.container-body {
  width: 500px;
  float: left
}
